body{background: linear-gradient(lightgreen,blue);
background-attachment: fixed;}
    
h1{text-align: center;}
div{
    text-align: center;
    line-height: 55px;
}
.colum{
    background: linear-gradient(rgb(241, 177, 140),#09a726);
    border-radius: 5px;
    font-size: 25px;
    text-decoration: none;

}

#logo{
    text-align: left;
    background-color:rgba(238, 236, 232, 0.384);
    
}
a.colum:hover{
    background: bisque;
    
}
 








